.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* 화면 전체 너비 */
  z-index: 1000; /* 상단 고정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 헤더 하단 그림자 */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* 컨텐츠의 최대 너비 */
  margin: 0 auto; /* 컨텐츠 가운데 정렬 */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links a:hover {
  color: #1db954;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.logout-button:hover {
  color: white;
}

.left-nav {
  display: flex;
  gap: 20px; /* 왼쪽 내비게이션 아이템 간격 */
  align-items: center;
}

.right-nav {
  display: flex;
  align-items: center;
}
