/* Signin.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("/public/Signin_background.jpg"); /* 이미지 경로 */
  background-size: cover; /* 화면에 꽉 차도록 조정 */
  background-position: center; /* 이미지가 중앙에 오도록 설정 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.85); /* 배경을 반투명하게 설정 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
}

/* Footer.css */
footer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* 약간 투명한 배경 */
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.link-text {
  color: #1a73e8; /* 파란색으로 하이퍼링크 느낌 */
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
  padding: 0;
}

.link-text:hover {
  color: #0c54b8; /* 호버 시 더 짙은 파란색 */
}

h2 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 0.5rem;
  color: #555;
}

input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:focus,
input:focus {
  outline: none;
  border: 1px solid #4caf50;
}
